<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/SimpleTeaser.css', package: 'DasOe.SimpleTeaser')}" media="all" />    
    </head>
    <body>
        <div class="DasOe_SimpleTeaser">

            <f:flashMessages class="flashmessages" />
            <title><f:render section="Title" /></title>

            <div class="DasOe_SimpleTeaser">
                <h1><f:render section="Title" /></h1>
                <f:render section="Content" />
            </div>
        </div>
    </body>
</html>